[Unit]
Description=Start X and Nextronic Clock
After=multi-user.target

[Service]
Type=simple
User=root
Environment=DISPLAY=:0
ExecStart=/usr/bin/startx -- -nocursor -nolisten tcp
Restart=on-failure

[Install]
WantedBy=multi-user.target
